{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Shopping Chart Blog</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="background-3">
    <div class="container h-100">
        <div class="row py-5">
            {% for post in posts %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100 border-0">
                    {% if post.featured_image %}
                    <img class="card-img-top img-fluid" src="{{ post.featured_image.url }}" alt="{{ post.name }}">
                    {% else %}
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.name }}">
                    {% endif %}
                    <div class="card-body pb-0">
                        <h5 class="mb-0 card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.excerpt }}</p>
                        <a href="{% url 'post_detail' post.slug %}" class="btn blue-to-yel-btn my-2 blog-btn">Read More</a>
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-sm-none mb-5">
                <hr>
            </div>
            {% endif %}

            {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block mb-5">
                <hr>
            </div>
            {% endif %}


            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}