{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block extra_meta %}
<meta name="title" content="{{ post.title }}">
<meta name="description" content="{{ post.excerpt }}">
<meta name="keywords" content="algorithmic trading strategy, algorithmic trading benefit, crypto trading, crypto trends">
{% endblock %}

{% block content %}
<div class="background-1">
    <div class="overlay"></div>
    <!-- Page content-->
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10">
                <!-- Post content-->
                <article>
                    <!-- Post heading-->
                    <div class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1 logo-font">{{ post.title }}</h1>
                        <!-- Post meta content-->
                        <div class="text-white fst-italic mb-2">Posted on {{ post.created_on }} by {{ post.author }}
                        </div>
                    </div>
                    <!-- Preview image figure-->
                    <div class="mb-2 image-container">
                        {% if post.featured_image %}
                        <img class="img-fluid rounded" src="{{ post.featured_image.url }}" alt="{{ post.name }}">
                        {% else %}
                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.name }}">
                        {% endif %}
                    </div>
                    <!-- Post content-->
                    <div class="bg-light mb-4">
                        <section class="p-3">
                            <p class="fs-5 my-3">{{ post.content | safe }}</p>
                        </section>
                    </div>
                </article>
            </div>
        </div>
        <!-- Comments Area -->
        <div class="row justify-content-md-center comment-container">
            <div class="col-12 col-md-10">
                <div class="bg-light mb-3 p-3">
                    <div class="card-container">
                        <div class="element-card">
                            <h3>Comments:</h3>
                            <hr>
                            <div class="comments-card">
                                <!-- if there is at least one comment -->
                                {% if comments %}
                                <!-- For loop to iterate through comments -->
                                {% for comment in comments %}
                                <div class="comments">
                                    <!-- Body of the comment -->
                                    Comment: {{ comment.body | linebreaksbr }}
                                    <div class="row">
                                        <div class="col-md-8 post-name-time">
                                            <p class="fw-bold">
                                                Rating: {{ comment.user_rating }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 post-name-time">
                                            <p class="fw-bold">
                                                {{ comment.name }} on
                                                <span>
                                                    {{ comment.created_on }}
                                                </span>
                                            </p>
                                        </div>
                                        {% if comment.name == request.user.username %}
                                        <div class="col-md-2">
                                            <a class="btn fw-bold blue-to-yel-btn rounded-0 mr-3"
                                                href="{% url 'edit_comment' post.slug comment.pk %}">Edit</a>
                                            <a class="btn fw-bold blue-to-yel-btn rounded-0"
                                                href="{% url 'delete_comment' post.slug comment.pk %}">Delete</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <hr>
                                <!-- end of loop -->
                                {% endfor %}
                                <!-- else, if there is no comment -->
                                {% else %}
                                <p>No comments, be the first one!</p>
                                {% if not user.is_authenticated %}
                                <p>To post a comment, <a href="">Log in</a> to our site! <br> If you do
                                    not have an account, please <a href="">Register</a> here.</p>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-container col-12 col-md-10">
                        {% if user.is_authenticated %}
                        <!-- Message if comment is posted, edited or deleted -->
                        <div>
                            <!-- Comment form -->
                            <h3>Leave a comment:</h3>
                            <p>Posting as: {{ user.username }}</p>
                            <form method="post">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button type="submit"
                                    class="btn blue-to-yel-btn btn-lg btn-post-comment fw-bold">Submit</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacer"></div>
{% endblock %}