<div class="row">
    <div class="col footer-container">
        <div>
            <img src="{{ MEDIA_URL }}logo-text.png" width="180" height="39" alt="Shopping Chart logo">
            <div class="social-icons">
                <a href="https://github.com" aria-label="Go to GitHub" target="_blank">
                    <i class="fab fa-github"></i>
                </a>

                <a href="https://www.linkedin.com/" aria-label="Go to LinkedIn" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>

                <a href="https://twitter.com/" aria-label="Go to Twitter" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<p>© 2022</p>