<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown my-auto">
            <a class="logo-font font-weight-bold mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Algorithms
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Algorithms</a>
            </div>
        </li>

        <li class="nav-item dropdown my-auto">
            <a class="logo-font font-weight-bold mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stocks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Long Only</a>
                <a href="" class="dropdown-item">Long Short</a>
                <a href="" class="dropdown-item">Dividend</a>
                <a href="" class="dropdown-item">All Stocks Algorithms</a>
            </div>
        </li>

        <li class="nav-item dropdown my-auto">
            <a class="logo-font font-weight-bold mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fixed Income
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Income</a>
                <a href="" class="dropdown-item">Relative Value</a>
                <a href="" class="dropdown-item">Capital Gain</a>
                <a href="" class="dropdown-item">All Fixed Income Algorithms</a>
            </div>
        </li>

        <li class="nav-item dropdown my-auto">
            <a class="logo-font font-weight-bold mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Crypto &amp; Forex
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Crypto Long-Short</a>
                <a href="" class="dropdown-item">Forex Long-Short</a>
                <a href="" class="dropdown-item">All Crypto &amp; Forex Algorithms</a>
            </div>
        </li>
    </ul>
</div>