{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="background-3">
    {% if user.is_superuser %}
    <div class="container col-12 col-md-10">
        <!-- Message if comment is posted, edited or deleted -->
        <div>
            <!-- Comment form -->
            <h3 class="text-white">Add a term:</h3>
            <form method="post" class="text-white">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit"
                    class="btn blue-to-yel-btn btn-lg btn-post-comment fw-bold">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}
    
    <h2 class="logo-font text-center py-3">Glossary</h2>
    <div class="container h-100">
            <hr class="grey-line">
            {% for term in terms %}
            <div class="row text-white mb-3 py-3">
                <div class="col-4 col-md-2 text-right font-weight-bold">{{ term.term }}</div>
                <div class="col-8 col-md-10">{{ term.description }}</div>
            </div>
            <hr class="grey-line">
            {% endfor %}
    </div>
</div>
{% endblock %}